
@using MvcCv.Models.Entity;
@model  List<TblEgitim>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deneyim </title>
</head>
<body>
    <div>
        <section class="resume-section" id="experience">


            <div class="resume-section-content">

                <h2 class="mb-5">DENEYİMLER </h2>
                @foreach (var egitimlerim in Model)
                {
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-2">@egitimlerim.Baslık</h3>

                            <div class="subheading mb-3">@egitimlerim.AltBaslık</div>
                            <p> @egitimlerim.Aciklama</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">@egitimlerim.Tarih</span></div>

                    </div>
                    <br>
                }


            </div>


        </section>
    </div>
</body>
</html>
