
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLayout</title>
</head>
<body>
    <div>

        <p style="background-color: red">Burası layout</p>

    </div>
    <br />
    <div> 
        @RenderBody()
    </div>


    <div> selamın aleyküm ben gaziosmanpaşadan ismet</div>


</body>
</html>
